<div class="login-container row align-items-center h-100">
    <div class="col-12 col-md-4 offset-md-4">
        <div class="form-container border card p-3">
            <h3 class="msg">Login</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input #email type="email" class="form-control" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div #password class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div *ngIf="invalidcredentials" class="error-msg p-2 text-danger">Invaid user name or password</div>
                <button (click)="authenticate(email.value,password.value)" type="Login" class="btn btn-success mt-3 w-100">Login</button>
            </form>
        </div>
    </div>
</div>